name: Makefile CI

on:
  push:

    paths:

      - scripts/**
      - .github/workflows/**

    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest


    steps:


    - uses: actions/checkout@v2
      with:
        repository: ${{ github.repository }}
        token: ${{ github.token }}
    - name: Run apt update
      run: sudo apt update

    - name: Upload Files
      uses: "marvinpinto/action-automatic-releases@latest"
      with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          title: Build ${{ github.run_number }}
          automatic_release_tag: "latest"
          prerelease: false
          files: */*.html
